mat-card {
    margin: 2% auto;
    width: 90%;
}
.mat-column-number {
    width: 15px;
border-right: 1px solid rgb(201, 200, 200);
}

.newTask {
    margin: 20px 0;
    padding: 20px;
    font-size: 20px;
}

.title-info {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    button:first-child {
        margin-right: 10px;
    }
}